{
    "version": 3,
    "configurePresets": [
        {
            "name": "base",
            "hidden": true,
            "inherits": ["ci-base", "ci-ninja"],
            "architecture": {
                "value": "x64",
                "strategy": "external"
            },
            "cacheVariables": {
                "$comment": "You may need to set CMAKE_CXX_COMPILER here if you are using a non-default compiler"
            }
        },
        {
            "name": "x64-debug",
            "displayName": "x64 Debug",
            "description": "x64 Debug build",
            "inherits": "base",
            "cacheVariables": {
                "CMAKE_BUILD_TYPE": "Debug"
            }
        },
        {
            "name": "x64-release",
            "displayName": "x64 Release",
            "description": "x64 Release build",
            "inherits": "base",
            "cacheVariables": {
                "$comment": "You may not need to set CMAKE_BUILD_RPATH below if you are using the default compiler",
                "CMAKE_BUILD_RPATH": "/usr/local/gcc-14.2.0/lib64",
                "CMAKE_BUILD_TYPE": "Release",
                "BUILD_TESTING": "OFF"
            }
        }
    ],
    "buildPresets": [
        {
            "name": "debug",
            "configurePreset": "x64-debug",
            "targets": ["all"]
        },
        {
            "name": "release",
            "configurePreset": "x64-release",
            "targets": ["all"]
        }
    ],
    "testPresets": [
        {
            "name": "test",
            "configurePreset": "x64-debug",
            "output": {"outputOnFailure": true},
            "execution": {"noTestsAction": "error", "stopOnFailure": true}
        }
    ]
}